.headings h1 {
  text-align: center;
  color: #1976d2;
  font-size: 3.5rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 760px) {
  .headings h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .headings h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
