.self-intro {
  max-width: 500px;
  margin-inline: auto;
  text-align: center;
}

.self-intro h2 {
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 500;
}

.self-intro h3 {
  font-size: 1.7rem;
  margin-bottom: 25px;
  font-weight: 500;
  color: #64b5f6;
  font-style: oblique;
}

.self-intro h1 {
  font-size: 3.7rem;
  margin-top: 0;
  color: #1976d2;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 760px) {
  .self-intro h2 {
    font-size: 2.3rem;
  }

  .self-intro h3 {
    font-size: 1.3rem;  
  }

  .self-intro h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .self-intro {
    max-width: 100%;
  }
  .self-intro h2 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .self-intro h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .self-intro h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
