.container-source-project {
  max-width: 1260px;
  margin-inline: auto;
}

.projects-heading {
  font-size: 2.4rem;
  color: #1976d2;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-container {
  width: 400px;
}

.project-container > h3 {
  font-weight: 500;
}

.project-container > h3 > a {
  color: #1976d2;
  text-decoration: none;
  transition: .3s all ease-in-out;
}

.project-container > h3 > a:hover {
  text-decoration: underline;
}

.rentmyspace, .organizeHR, .shareplaces {
  width: 400px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.project p {
  font-size: 18px;
}

.work-links {
  margin-top: 30px;
}

.work-links a {
  border: none;
  background-color: #bbdefb;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  color: #1976d2;
  transition: 0.3s all ease-in-out;
  font-weight: 600;
  font-size: 18px;
}

.work-links a:hover {
  color: #64b5f6;
  border: 1px solid #64b5f6;
}

.github-link {
  margin-right: 30px;
}

.work li::marker {
  color: #1976d2;
  font-size: 24px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.technologies span {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
}

.technologies span .icon {
  margin-right: 5px;
  color: #1976d2;
  font-size: 25px;
}

@media only screen and (max-width: 760px) {

  .project {
    margin-inline: 15px;
  }

  .project h2 {
    font-size: 2rem;
  }

  .projects-heading {
    padding-left: 20px;
  }

  .project-1 > p > span {
    font-size: 22px;
  }

}

@media only screen and (max-width: 430px) {
  .all-projects {
    padding-inline: 5px;
  }
  
  .project-container {
    width: 100%;
  }

  .projects-heading {
    font-size: 1.6rem;
  }

  .rentmyspace, .organizeHR, .shareplaces {
    width: 100%;
  }

  .project-text-work {
    font-size: 14px;
  }

}


/* 
@media only screen and (max-width: 400px) {

  .project {
    padding-inline: 0px;
    margin-inline: 0;
  }

  .project-container {
    width: 360px;
    border: 2px solid red;
  }

  .rentmyspace, .organizeHR, .shareplaces {
    width: 100%;
  }

  .project h2 {
    font-size: 1.3rem;
  }

  .project p {
    font-size: 14px;
  } 
  
  .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .technologies span {
    font-size: 14px;
    font-weight: 600;
  }

  .technologies span .icon {
    margin-right: 5px;
  }

} */