.project-container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}

.projects-heading {
  font-size: 2.4rem;
  color: #1976D2;
  margin-bottom: 0px;
}

.all-projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 14px;
}

.ind-project {
  border: 2px solid lightblue;
  border-radius: 12px;
  text-decoration: none;
  transition: .3s all ease-in-out;
}

.ind-project:hover {
  box-shadow: rgba(0, 0, 255, 0.09) 0px 2px 1px, rgba(0, 0, 255, 0.09) 0px 4px 2px, rgba(0, 0, 255, 0.09) 0px 8px 4px, rgba(0, 0, 255, 0.09) 0px 16px 8px, rgba(0, 0, 255, 0.09) 0px 32px 16px;
}

.project-img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.project-description {
  padding-inline: 10px;
  padding-bottom: 15px;
  color: black;
}

.project-description>h3>a {
  color: #1976D2;
  text-decoration: none;
}


.project-description>h3>a:hover {
  border-bottom: 2px solid #1976D2;
  transition: .2s all ease-in-out;
}

.sm-text {
  font-size: 14px;
  cursor: default;
}

.work-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

@media only screen and (max-width: 920px) {
  .all-projects {
      grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 630px) {
  .all-projects {
      grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 400px) {

  .projects-heading {
    font-size: 1.3rem;
  }
}