.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.not-found > div {
    background-color: #ccc;
    border-radius: 15px;
    padding: 20px;
}

.not-found > div > h1 {
    color: #1976d2;
    text-align: center;
}

.not-found > div > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 10px;
    color: #1976d2;
    text-decoration: underline;
    transition: .3s all ease-in-out;
}

.not-found > div > a:hover {
    color: #64b5f6;
    text-decoration: none;
}