 .awards {
  margin-bottom: 40px;
} 

.awards h2 {
  font-size: 2.4rem;
  color: #1976D2;
  margin-bottom: 0px;
}

.awards p, li {
  font-size: 20px;
}

.work-links a {
  border: none;
  background-color: #BBDEFB;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  color: #1976D2;
  transition: .3s all ease-in-out;
  font-weight: 600;
  font-size: 18px;
}

.work-links a:hover {
  color: #64B5F6;
  border: 1px solid #64B5F6;
}

.work li::marker {
  color: #1976D2;
  font-size: 24px;
}

@media only screen and (max-width: 760px) {
  .awards > h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .awards h2 {
    font-size: 1.3rem;
  }

  .awards p, li {
    font-size: 14px;
  }


  .work li::marker {
    font-size: 18px;
  }

}


