.contact-form {
  font-family: "Segoe UI";
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
}

.contact-form input {
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(0, 123, 255, 0.1);
  transition: 0.3s all ease;
}

.contact-form input:focus {
  border: 1px solid #64b5f6;
  outline: none;
}

textarea {
  font-size: 20px;
  font-family: "Segoe UI";
  margin-bottom: 20px;
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 10px;
  background-color: rgba(0, 123, 255, 0.1);
  transition: 0.3s all ease;
}

textarea:focus {
  border: 1px solid #64b5f6;
  outline: none;
}

.contact-form-btn {
  background-color: #bbdefb;
  padding-block: 10px;
  border-radius: 15px;
  color: #1976d2;
  font-size: 20px;
  cursor: pointer;
  border: none;
  transition: 0.3s all ease-in-out;
}

.btn-submitting {
  cursor: not-allowed;
  background-color: gray;
  padding-block: 10px;
  border-radius: 15px;
  font-size: 20px;
  border: none;
}

.contact-form button:focus {
  outline: none;
}

.contact-form button:hover {
  color: #64b5f6;
}

@media only screen and (max-width: 760px) {
  .contact-form {
    padding-inline: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-form {
    max-width: 100%;
  }

.contact-form label {
  font-size: 16px;
  margin-block: 10px;
}

.contact-form input {
  font-size: 15px;
}

textarea {
  font-size: 15px;
  margin-bottom: 20px;
}

.contact-form button {
  padding-block: 10px;
  font-size: 15px;
  border: none;
  margin-bottom: 20px;
}

}
