.copyright {
    background-color: rgba(0, 123, 255, 0.3);
    padding-block: 25px;
}

.copyright p {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.name {
    color: #1976d2;
    font-weight: 500;
    transition: .3s all ease-in-out;
}

.name:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 760px) {
    .copyright p {
        text-align: center;
        padding-inline: 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {

    .copyright {
        padding-block: 10px;
    }
    
    .copyright p {
        text-align: center;
        font-size: 15px;
    }
    
}