.title {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1976d2;
  margin-top: 40px;
  margin-inline: auto;
  max-width: 600px;
  border-radius: 30px;
  padding-inline: 5px;
}

.logo {
  margin-right: 7px;
}

.title-logo {
  color: #1976d2;
  font-size: 24px;
}

.title-text {
  padding: 3px 6px;
  text-transform: capitalize;
}

.title-span {
  color: #1976d2;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s all ease-in-out;
}

.title-span:hover {
  color: #64b5f6;
  text-decoration: underline;
}

.flex-intro {
  display: flex;
}

@media only screen and (max-width: 700px) {
  .title  {
    margin-inline: 10px;
  }

  .title-text {
    text-align: center;
  }
  
}

@media only screen and (max-width: 400px) {
  .logo {
    display: none;
  }
}
