/*-----------------Goal----------------------*/
.goal-container {
  max-width: 1150px;
  margin-inline: auto;
}

.goal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  /* border: 2px solid red; */
}

.goal > h1 {
  font-size: 3rem;
}
.steve-profile {
  height: 25rem;
  padding-bottom: 70px;
  border-radius: 10rem;
}

.color-1 {
  color: #1976d2;
}

.color-2 {
  color: #64b5f6;
}

.color-3 {
  color: rgba(0, 123, 255, 0.9);
}

@media only screen and (max-width: 1200px) {
  .goal-container {
    padding-inline: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .goal>h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 760px) {
  .goal {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-inline: 0px;
  }

  .goal > h1 {
    text-align: center;
    font-size: 33px;
  }

  .steve-profile {
    height: 20rem;
  }
}

@media only screen and (max-width: 400px) {
  .goal {
    width: 100%;
    margin-bottom: 0;
  }

  .goal > h1 {
    font-size: 1.7rem;
    margin-block: 30px;
    margin-bottom: 0;
  }

  .steve-profile {
    height: 20rem;
    border-radius: 10rem;
    margin-bottom: 0;
  }

  .color-2 {
    color: #1976d2;
  }
  
  .color-3 {
    color: #1976d2;
  }
  
}