.marquee-container {
    margin-bottom: 40px;
}

.icons-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 50px;
}

.individual-icons {
    font-size: 3rem;
    color: #1976d2;
}

.title-lng {
    font-size: 1rem;
    font-weight: 500;
    color: #1976d2;
}

.logo-img {
    width: 150px;
}

@media screen and (max-width: 460px) {
    .individual-icons {
        font-size: 2.4rem;
    }

    .icons-type {
        margin-inline: 20px;
    }
}