.experience {
  margin-bottom: 40px;
}

.experience h2 {
  font-size: 2.4rem;
  color: #1976d2;
  margin-bottom: 0px;
}

.experience li {
  font-size: 20px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.technologies span {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.technologies span .icon {
  margin-right: 5px;
  color: #1976d2;
  font-size: 25px;
}

.experience > ul > li::marker {
  color: #1976d2;
  font-size: 20px;
}

@media only screen and (max-width: 760px) {
  .experience > h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 400px) {

  .experience h2 {
    font-size: 1.3rem;
  }

  .experience li {
    font-size: 14px;
  }

  .experience > ul > li::marker {
    font-size: 18px;
  }
}
